<!-- Espacio -->
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

<div class="row mt-8 mb-7 me-7 ms-4 pe-5 d-flex justify-content-center">
  <div class="col-sm-12 col-md-6 col-lg-10 col-xl-10">
    <!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://redelcomventas.com/img/redelcom1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://redelcomventas.com/img/redelcom2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://redelcomventas.com/img/redelcom3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <!-- Carousel-->
  </div>
</div>

<!-- Espacio -->
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

<div class="row mt-8 mb-7 me-7 ms-4 pe-5 text-center">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h2 class="productosh1">Nuestros Equipos</h2>
  </div>
</div>

<!-- Espacio -->
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

<!-- Container creado por AI -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!--Card 1-->
      <div class="card border-primary bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">POS R3 Normal</div>
        <img src="https://redelcomventas.com/img/R3home.jpg" class="card-img-top" alt="reloj" width="220px" height="200px">
        <div class="card-body">
          <h4 class="card-title">Carasteristicas</h4>
          <p class="card-text">
            <ul>
            <li>Incluye RDControl (Software de Inventario).</li>
            <li> Sistema operativo Android. </li>
            <li>Abono en 48 horas hábiles. </li>
            <li>Contactless, Chip, Banda, QR. </li>
            <li>Conectividad celular y WIFI. SIM de datos incluida sin costo. </li>
          </ul>
          
            <button type="button" class="btn btn-success" (click)="BotonComprar()">Comprar</button>
        </div>
      </div>
      <!--Fin cards-->
    </div>
    <div class="col-sm-3">
      <!--Card 2-->
      <div class="card border-secondary mb-3 bg-secondary"  style="max-width: 20rem;">
        <div class="card-header">Autoservicio</div>
        <img src="https://redelcomventas.com/img/consultarEquipo.jpg" class="card-img-top" alt="reloj" width="220px" height="200px">
        <div class="card-body">
          <h4 class="card-title">Equipo Por Proyecto</h4>
          <p class="card-text">
            <ul>
             <li>Soluciones para pagos sin atención presencial.</li>
             <li>Para máquinas vending.</li>
             <li>Para estacionamientos.</li>  
             <li>Para cualquier tipo de autoservicio que necesite.</li>
             <li>Pago por cantidad de usuarios.</li>
            </ul>
          <button type="button" class="btn btn-warning" (click)="BotonConsultar()">Consultar</button>
        </div>
      </div>
      <!--Fin cards-->
    </div>
    <div class="col-sm-3">
      <!--Card 3-->
      <div class="card border-primary bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">POS Point Mini</div>
        <img src="https://redelcomventas.com/img/MiniPOS.JPG" class="card-img-top" alt="reloj" width="220px" height="200px">
        <div class="card-body">
          <h4 class="card-title">Carasteristicas</h4>
          <p class="card-text">
            <p class="card-text">
              <ul>
              <li>Incluye RDControl (Software de Inventario).</li>
              <li> Sistema operativo Android. </li>
              <li>Abono en 48 horas hábiles. </li>
              <li>Contactless, Chip, Banda, QR. </li>
              <li>Conectividad celular y WIFI. SIM de datos incluida sin costo. </li>
            </ul>
            <button type="button" class="btn btn-success" (click)="BotonComprar()" >Comprar</button>
        </div>
      </div>
      <!--Fin cards-->
    </div>
    <div class="col-sm-3">
      <!--Card 4-->
      <div class="card border-secondary mb-3 bg-secondary"  style="max-width: 20rem;">
        <div class="card-header">Comprar Rollos</div>
        <img src="https://redelcomventas.com/img/rollosFrente.jpg" class="card-img-top" alt="reloj" width="220px" height="200px">
        <div class="card-body">
          <h4 class="card-title">Comprar rollos por pack</h4>
          <p class="card-text">
           <ul> 
            <li>Caja de 100 unidades de rollos de papel termico de 58mm por 20 metros.</li>
            <li>Caja de 1000 unidades de rollos de papel termico de 58mm por 20 metros.</li>
            <li>Consultar por otras unidades.</li>
           </ul>
          <button type="button" class="btn btn-warning" (click)="BotonConsultar()">Consultar</button>
        </div>
      </div>
      <!--Fin cards-->
    </div>
  </div>
</div>

<!-- Fin container -->
<!-- Espacio -->
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>
<div class="mt-5 mb-5"></div>

 <!-- Espacio -->
 <div class="mt-5 mb-5"></div>
 <div class="mt-5 mb-5"></div>

 <div class="row mt-8 mb-7 me-7 ms-4 pe-5 d-flex justify-content-center">
   <div class="col-sm-12 col-md-6 col-lg-10 col-xl-10">
     <!-- Card -->
     <div id="carouselExampleSlidesOnly" class="carousel slide carrusel " data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="https://redelcomventas.com/img/tipoNegocios.jpg" class="d-block w-100" alt="..." width="80" height="500">
         </div>
       </div>
     </div>
     <!-- Fin card -->
   </div>
 </div>

 <!-- Espacio -->
 <div class="mt-5 mb-5"></div>
 <div class="mt-5 mb-5"></div>

 <div class="row mt-8 mb-7 me-7 ms-4 pe-5 d-flex justify-content-center">
   <div class="col-sm-12 col-md-6 col-lg-10 col-xl-10">
     <!-- Card -->
     <div id="carouselExampleSlidesOnly" class="carousel slide carrusel " data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="https://redelcomventas.com/img/verVentas.jpg" class="d-block w-100" alt="..." width="80" height="500">
         </div>
       </div>
     </div>
     <!-- Fin card -->
   </div>
 </div>

 

 <!-- Espacio -->
 <div class="mt-5 mb-5"></div>
 <div class="mt-5 mb-5"></div>

 <!-- Espacio -->
 <div class="mt-5 mb-5"></div>
 <div class="mt-5 mb-5"></div>

 <div class="row mt-8 mb-7 me-7 ms-4 pe-5 d-flex justify-content-center">
   <div class="col-sm-12 col-md-6 col-lg-10 col-xl-10">
     <!-- Card -->
     <div id="carouselExampleSlidesOnly" class="carousel slide carrusel " data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="https://redelcomventas.com/img/carasteristicas.jpg" class="d-block w-100" alt="..." width="80" height="320">
         </div>
       </div>
     </div>
     <!-- Fin card -->
   </div>
 </div>



 <!-- Espacio -->
 <div class="mt-5 mb-5"></div>
 <div class="mt-5 mb-5"></div>