.barra-progreso{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.titulo{
    margin-top: 100px;
}

.titulo2{
    margin-top: 50px;
    margin-bottom: 300px;
} 