<app-cabecera></app-cabecera>
<form>
    <fieldset>
        <h2 class="row justify-content-center contactt">Ingresa Email</h2>

        <div class="container formulario">
            <div class="row justify-content-center">
                <!--Ajustar tamanio form-->
                <div class="col-md-5" [style.border]="variableStyle == 10 ? '1px solid red ' : '1px solid green' ">

                    <div class="form-group mb-2">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                   
                    <button type="submit" class="btn btn-primary justify-content-center boton" (click)="cambiarColorBorde()">Enviar</button>
                </div>
            </div>
          
        </div>
    </fieldset>
</form>
<div class="salto"></div>
<app-footer></app-footer>
