.titulos{
    margin-top: 50px;
    font-size:xx-large
}   

.background{
    background-color: azure;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.carrito {
    background-color:darkgrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nombre {
    color: black;
    margin-left: 5px;
    margin-right: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}